@use '../../partials/color' as color;

.container-pai{
    background-image: linear-gradient(to bottom, rgba(6,18,30,0.1), #06121e), url("../../assets/bg.svg");
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100vw;
    min-height: 800px;
    max-height: 1200px;
    height: 60vh;
    background-size: cover;

    .container{
        display: flex;
        justify-content: space-around;
    
        .links{
            color: color.$white-normal;
            font-size: 20px;
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 100px;
    
            .icon{
                font-size: 25px;
                cursor: pointer;
    
                &:hover{
                    color: color.$yellow_normal;
                }
            }
        }
    
        .logo{
            margin-top: 40px;
    
            img{
                width: 150px;
            }
        }
    
        .agendar-horario{
            margin-top: 100px;
            margin-right: 3%;
        }
    }


    .chamada{
        text-align: center;

        .el{
            margin-bottom: 20px;
        }

        .horario{
            color: color.$white-normal;
            font-size: 20px;
        }

        .title{
            margin-top: 30px;
            font-size: 40px;
            color: color.$white-normal;
        }

    }
}

@media screen and (max-width:810px){
    
    .container-pai{
        min-height: 450px;
        max-height: 600px;
        .chamada{
            .title{
                font-size: 30px;
                padding: 0 20px;
            }

            .horario{
                padding: 0 20px;
                font-size: 20px;
            }
        }
    }

}


@media screen and (max-width: 1024px) {
    .container-pai {
        min-height: 400px;
        height: auto;

        .chamada {
            padding: 50px;

            .title {
                font-size: 30px; // Definido aqui
                padding: 0 20px;
            }

            .horario {
                padding: 0 20px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:631px){

    .container-pai{
        min-height: 500px;
        width: 100vw;
        height: auto;
        

        .container{
            flex-direction: column;
    
            .agendar-horario{
                display: none;
            }    
    
            .links{
                margin-top: 10px;
            }    

            .logo{
                margin-top: 20px;
                text-align: center;
            }    
        }    

        .chamada{
            .title{
                font-size: 20px;
                padding: 0 15px;
            }    

            .horario{
                padding: 0 15px;
                font-size: 15px;
            }    
        }    
    }    

}    

@media screen and (max-width:320px){

    .container-pai{
        
        .container{
    
            .logo{
                margin-top: 20px;
                text-align: center;
            }    
        }    

        .chamada{
            .title{
                font-size: 10px;
                margin: 0 auto;
            }

            .horario {
                font-size: 15px;
            }
        }
    }

}

@media screen and (max-width:810px){
    
    .container-pai{
        .chamada{
            .title{
                font-size: 30px;
                padding: 0 20px;
            }

            .horario{
                padding: 0 20px;
                font-size: 20px;
            }
        }
    }

}


