@use './../../partials/color' as color;

.lollowBtn{
    padding: 15px 25px;
    max-width: 200px;
    max-height: 100px;
    background-color: transparent;
    border: 2px solid color.$white-normal;
    color: color.$white-normal;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s ease; /* Transição suave para todas as propriedades */

    &:hover{
        background-color: color.$yellow_normal;
        border: 2px solid color.$primary-dark;
        color: color.$primary-dark;
    }
}