@use '../../partials/color' as color;

.container-tabela {
    width: 100vw;
    padding: 20px;
    
    
    .servicos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;  /* Permite quebra de linha se necessário */
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 810px) {
    .container-tabela {
        width: 100%;
    }

    .servicos {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .servicos {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-cardServico {
        flex: 1 1 45%; /* Ajusta a largura dos cards para caber melhor em tablets */
        margin-bottom: 20px; /* Adiciona espaçamento entre os cards */
    }
}

@media screen and (max-width: 428px) {
    .container-tabela {
        width: 100%;
    }

    .servicos {
        flex-direction: column;
        justify-content: center;
        align-items: center;  /* Centraliza os itens */
    }

    .container-cardServico {
        flex: 1 1 100%;
        margin-bottom: 20px; /* Adiciona espaçamento entre os cards */
    }
}
